<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="serviceA" class="chainOfResponsibility.ServiceA">
        <property name="nextHandler" ref="serviceB"/>

    </bean>
    <bean id="serviceB" class="chainOfResponsibility.ServiceB">
        <property name="nextHandler" ref="serviceOther"/>

    </bean>
    <bean id="serviceOther" class="chainOfResponsibility.ServiceOther">

    </bean>

    <!--cyc reference makes a StackOverflowError exception when scope is singleton
        if scope="prototype" spring will throw a BeanCurrentlyInCreationException-->
    <!--<bean id="serviceOther" class="chainOfResponsibility.ServiceOther">-->
        <!--<property name="nextHandler" ref="serviceA"/>-->
    <!--</bean>-->
</beans>